<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ExemploBlog" connectionString="Data Source=.\sqlexpress;Initial Catalog=TesteIntegradoBancoOpenSource;Integrated Security=True;Pooling=False" />
    <add name="TestProject1.Properties.Settings.TesteIntegradoBancoOpenSourceConnectionString"
      connectionString="Data Source=.\sqlexpress;Initial Catalog=TesteIntegradoBancoOpenSource;Integrated Security=True;Pooling=False"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>